/* ---------- MessageGrid */
.wtmail-grid-toolbar-container {
	background-color: var(--wt-theme-color-surface-l0) !important;
}
/* Unselected row Unread */
.wtmail-message-grid .x-grid-item:not([class*="x-grid-item-selected"]) .wtmail-row-unread TD {
	background-color: #e0e7ff; /* Indigo/100 - NDS : Surface/Background/New email */
}
/* Unselected row Today */
.x-grid-item:not([class*="x-grid-item-selected"]) .wtmail-row-today { 
	background: initial;
}
/* Set bottom border */
.wtmail-message-grid .x-grid-with-row-lines .x-grid-item.wtmail-x-grid-item-read:not(.wtmail-x-grid-item-noborderbottom) {
	border-color: #e5e7eb; /* Gray/200 */
}
.wtmail-message-grid .x-grid-with-row-lines .x-grid-item.wtmail-x-grid-item-unread:not(.wtmail-x-grid-item-noborderbottom) {
	border-color:#e5e7eb; /* Gray/200 */
}

/* ---------- MessageView */
.wtmail-messageview-toolbar-container {
    background-color: var(--wt-theme-color-surface-l2-inv) !important;
}
.wtmail-mv-main, .wtmail-mv-table { background: var(--wt-theme-color-surface-l2-inv) !important; }