/* Service Icons */
.wtmail-icon-service,
.wtmail-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wtmail-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wtmail-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wtmail-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wtmail-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wtmail-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }

.wtmail-trees .x-toolbar { background-color: var(--wt-theme-color-surface-1); border: none; }
.wtmail-trees .x-panel-body { background-color: var(--wt-theme-color-surface-1); }
.wtmail-trees .x-grid-item:not(.x-grid-item-over) { background-color: var(--wt-theme-color-surface-1); }
.wtmail-trees .x-grid-item-selected { background-color: #e5e7eb !important; }
.wtmail-trees .x-grid-body {
    border-top: 0px;
}

.wtmail-tool-items .x-panel-body {
    border-top: 0px;
}

.wtmail-breadcrumb .x-btn-inner-plain-toolbar-small {
	font-size: 18px;
}

.wtmail-mv-header { font-family: Poppins, sans-serif; }

.wtmail-tree-unread-cell { 
	font-weight: bold; 
	background-color: #e5e7eb !important; 
	border-radius: 4px; 
	padding-left: 6px;
	padding-right: 6px;
}

.wtmail-grid-toolbar-container {
	background-color: #ffffff !important; 
}

.wtmail-messageview-toolbar-container {
	background-color: #ffffff !important; 
}

.wtmail-icon-imapfolder:before { content: '\f07b'} .wtmail-icon-imapfolder { background-image: none !important }
.wtmail-icon-inboxfolder:before { content: '\f01c'} .wtmail-icon-inboxfolder { background-image: none !important }
.wtmail-icon-sentfolder:before { content: '\f1d8'} .wtmail-icon-sentfolder { background-image: none !important }
.wtmail-icon-draftsfolder:before { content: '\f15b'} .wtmail-icon-draftsfolder { background-image: none !important }
.wtmail-icon-junkfolder:before { content: '\f06a'} .wtmail-icon-junkfolder { background-image: none !important }
.wtmail-icon-trashfolder:before { content: '\f1f8'} .wtmail-icon-trashfolder { background-image: none !important }
.wtmail-icon-archivefolder:before { content: '\f187'} .wtmail-icon-archivefolder { background-image: none !important }
.wtmail-icon-sharefolder:before { content: '\f1e0'} .wtmail-icon-sharefolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-imapfolder:before { content: '\f07c'} .x-grid-tree-node-expanded .wtmail-icon-sharefolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-inboxfolder:before { content: '\f01c'} .x-grid-tree-node-expanded .wtmail-icon-inboxfolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-sentfolder:before { content: '\f1d8'} .x-grid-tree-node-expanded .wtmail-icon-sentfolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-draftsfolder:before { content: '\f15b'} .x-grid-tree-node-expanded .wtmail-icon-draftsfolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-junkfolder:before { content: '\f06a'} .x-grid-tree-node-expanded .wtmail-icon-junkfolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-trashfolder:before { content: '\f06a'} .x-grid-tree-node-expanded .wtmail-icon-trashfolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-archivefolder:before { content: '\f187'} .x-grid-tree-node-expanded .wtmail-icon-archivefolder { background-image: none !important }
.x-grid-tree-node-expanded .wtmail-icon-sharefolder:before { content: '\f1e0'} .x-grid-tree-node-expanded .wtmail-icon-sharefolder{ background-image: none !important }

.wtmail-icon-mailNew:before { content: '\f044'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-mailNew { background-image: none !important }
.wtmail-icon-faxNew:before { content: '\f1ac'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-faxNew { background-image: none !important }
.wtmail-icon-mailAccount:before { content: '\f1fa'} .wtmail-icon-mailAccount { background-image: none !important }
.wtmail-icon-favorites:before { content: '\f005'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-favorites { background-image: none !important }
.wtmail-icon-search-locked:before { content: '\f023'} .wtmail-icon-search-locked { background-image: none !important }
.wtmail-icon-search-unlocked:before { content: '\f3c1'} .wtmail-icon-search-unlocked { background-image: none !important }
.wtmail-icon-starred:before { content: '\f005'; font-family: 'Font Awesome 5 Free Regular'; } .wtmail-icon-starred { background-image: none !important }
.wtmail-icon-tag:before { content: '\f02b' } .wtmail-icon-tag { background-image: none !important }
.wtmail-icon-bookmark:before { content: '\f02e'; font-family: 'Font Awesome 5 Free Regular'; } .wtmail-icon-bookmark { background-image: none !important }
.wtmail-icon-movetofolder:before { content: '\f07c'; font-family: 'Font Awesome 5 Free'; } .wtmail-icon-movetofolder { background-image: none !important }
.wtmail-icon-markseen:before { content: '\f2b6'; font-family: 'Font Awesome 5 Free Regular'; } .wtmail-icon-markseen { background-image: none !important }
.wtmail-icon-markunseen:before { content: '\f0e0'; font-family: 'Font Awesome 5 Free Regular'; } .wtmail-icon-markunseen { background-image: none !important }
.wtmail-icon-reply:before { content: '\f3e5'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-reply { background-image: none !important }
.wtmail-icon-replyall:before { content: '\f122'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-replyall { background-image: none !important }
.wtmail-icon-forward:before { content: '\f064'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-forward { background-image: none !important }
.wtmail-icon-archive:before { content: '\f187'; font-family: 'Font Awesome 5 Free';} .wtmail-icon-archive { background-image: none !important }
.wtmail-note { color: #374151; }

.wtmail-icon-status-seen:before { content: '\f111'; font: 10px 'Font Awesome 5 Free Regular'; color: #374151; } .wtmail-icon-status-seen { background-image: none !important }
.wtmail-icon-status-unseen:before { content: '\f111'; font: 10px 'Font Awesome 5 Free'; color: #EA580C; } .wtmail-icon-status-unseen { background-image: none !important }
.wtmail-icon-status-new:before { content: '\f621'; font-family: 'Font Awesome 5 Free'; } .wtmail-icon-status-new { background-image: none !important }
.wtmail-icon-status-replied:before { content: '\f3e5'; font-family: 'Font Awesome 5 Free'; } .wtmail-icon-status-replied { background-image: none !important }
.wtmail-icon-status-forwarded:before { content: '\f064'; font-family: 'Font Awesome 5 Free'; } .wtmail-icon-status-forwarded { background-image: none !important }
.wtmail-icon-status-replied-forwarded:before { content: '\f2f1'; font-family: 'Font Awesome 5 Free'; } .wtmail-icon-status-replied-forwarded { background-image: none !important }
.wtmail-icon-status-invitation:before { content: '\f073'; font-family: 'Font Awesome 5 Free'; } .wtmail-icon-status-invitation { background-image: none !important }

.so-avatarcolumn .so-avatar-wrap {
    background-color: #9CA3AF !important;
}

.so-avatarcolumn .so-avatar-wrap SPAN {
    color: white !important;
}

.wtmail-message-grid .x-grid-body {
	border-top: 0px;
}

.wtmail-message-grid .x-grid-with-row-lines .x-grid-item {
	border-width: 0px 0 0;
}

.wtmail-row-body .x-grid-rowbody {
	padding-left: 130px !important;
}

.wtmail-row-body .x-grid-rowbody > SPAN {
	padding-left: 0px !important;
}

.wtmail-messagecolumn-head > SPAN {
	font-weight: bold !important;
	color: #111827;
	font-size: 14px;
}

.wtmail-messagecolumn-body > SPAN {
	font-weight: bold !important;
	font-size: 12px;
}

.wtmail-message-grid .x-grid-item .wtmail-row-unread TD {
	background-color: #FFEDD5;
}

.wtmail-message-grid .x-grid-item .wtmail-row-unread-first .x-grid-cell-first {
	border-top-left-radius: 25px;
}

.wtmail-message-grid .x-grid-item .wtmail-row-unread-first .x-grid-cell-last {
	border-top-right-radius: 25px;
}

.wtmail-message-grid .x-grid-item .wtmail-row-unread-last .x-grid-cell-first {
	border-bottom-left-radius: 25px;
}

.wtmail-message-grid .x-grid-item .wtmail-row-unread-last .x-grid-cell-last {
	border-bottom-right-radius: 25px;
}

.wtmail-message-grid .x-grid-item .wtmail-row-body-unread TD {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}