/* Service Icons */
.wtvfs-icon-service,
.wtvfs-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wtvfs-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wtvfs-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wtvfs-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wtvfs-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wtvfs-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }