/**************************************/
/* This file should contain tweaks/fixes for specific theme.
/**************************************/

@import url("../themes-override.css");
@import url("../themes-nethesisbuilt-override.css");

:root {
    color-scheme: dark;
    --wt-theme-color-surface-l0: #030712; /* Gray/950 */
    --wt-theme-color-surface-l1: #111827; /* Gray/900 */
    --wt-theme-color-surface-l2: #1f2937; /* Gray/800 */
    --wt-theme-color-surface-l2-inv: #030712; /* Gray/950 */
    --wt-theme-color-surface-l3: #374151; /* Gray/700 */
    --wt-theme-color-surface-l4: #4b5563; /* Gray/600 */
    --wt-theme-color-ct-1: #c2410c; /* Orange/700 */
    --wt-theme-color-ct-2: #22274f; /* Indigo/500 @20% - NDS : Surface/Overlay 20% */
    --wt-theme-color-n1: #f9fafb; /* Gray/50 - NDS : Text/Primary neutral */
    --wt-theme-color-n1-inv: #111827; /* Gray/900 - NDS : Text/Primary invert neutral */
    --wt-theme-color-n2: #e5e7eb; /* Gray/200 - NDS : Text/Secondary neutral */
    --wt-theme-color-n3: #d1d5db; /* Gray/300 - NDS : Text/Tertiary neutral */
    --wt-theme-color-1: #f97316; /* Orange/500 - NDS : Product Primary/NethService/Active */
    --wt-theme-color-2: #6366f1; /* Indigo/500 - NDS : Text/Secondary */
    --wt-theme-color-3: #6b7280; /* Gray/500 - NDS : Text/Placeholder */
    --wt-theme-color-off: #6b7280; /* Gray/500 */
    --wt-theme-color-hyperlink: var(--wt-theme-color-1);
    --wt-theme-color-ok: #99f6e4; /* Teal/200 - NDS : Text/Inline notification/Success/Description */
    --wt-theme-color-ok-on: #115e59; /* Teal/800 */
    --wt-theme-color-ok-ct: #134e4a; /* Teal/900 - NDS : Surface/Inline notification/Success */
    --wt-theme-color-ok-ct-on: #ccfbf1; /* Teal/100 - NDS : Text/Inline notification/Success/Title*/
    --wt-theme-color-warn: #fde68a; /* Amber/200 - NDS : Text/Inline notification/Warning/Description */
    --wt-theme-color-warn-on: #92400e; /* Amber/800 */
    --wt-theme-color-warn-ct: #b45309; /* Amber/700 - NDS : Surface/Inline notification/Warning */
    --wt-theme-color-warn-ct-on: #fffbef; /* Amber/50 - NDS : Text/Inline notification/Warning/Title*/
    --wt-theme-color-error: #fecdd3; /* Rose/200 - NDS : Text/Inline notification/Error/Description */
    --wt-theme-color-error-on: #9f1239; /* Rose/800 */
    --wt-theme-color-error-ct: #881337; /* Rose/900 - NDS : Surface/Inline notification/Error */
    --wt-theme-color-error-ct-on: #ffe4e6; /* Rose/100 - NDS : Text/Inline notification/Error/Title*/
    --wt-theme-color-info: #c7d2fe; /* Indigo/200 - NDS : Text/Inline notification/Information/Description */
    --wt-theme-color-info-on: #3730a3; /* Indigo/800 */
    --wt-theme-color-info-ct: #312e81; /* Indigo/900 - NDS : Surface/Inline notification/Info */
    --wt-theme-color-info-ct-on: #e0e7ff; /* Indigo/100 - NDS : Text/Inline notification/Info/Title*/
    
    --wt-theme-color-scrollbar-thumb: #9ca3af; /* Gray/400 */
	--wt-theme-color-scrollbar-track: #1f2937; /* Gray/800 */
    --wt-theme-color-mask: rgba(55, 65, 81, 0.75); /* Gray/700 @75% */
    --wt-theme-color-field: var(--wt-theme-color-surface-l0);
    --wt-theme-color-dialog: var(--wt-theme-color-surface-l1);
    --wt-theme-color-dialog-on: var(--wt-theme-color-n2);
    --wt-theme-color-dialog-hd: var(--wt-theme-color-surface-l2);
    --wt-theme-color-dialog-hd-on: var(--wt-theme-color-n1);
    --wt-theme-color-mbox: var(--wt-theme-color-surface-l1);
    --wt-theme-color-mbox-on: var(--wt-theme-color-n2);
    --wt-theme-color-mbox-hd: var(--wt-theme-color-surface-l1);
    --wt-theme-color-mbox-hd-on: var(--wt-theme-color-n1);
    --wt-theme-color-popup: #f3f4f6; /* Gray/100 - NDS : Surface/Background/Tooltip */
    --wt-theme-color-popup-on: #f0f0f0; /* ??? Maybe riton default? <---TODO */
    --wt-theme-color-topbar: var(--wt-theme-color-surface-l0);
    --wt-theme-color-navbar: var(--wt-theme-color-surface-l0);
    --wt-theme-color-taskbar: var(--wt-theme-color-surface-l2);
    
    --wt-theme-fontfamily: Poppins, helvetica, arial, verdana, sans-serif;
    --wt-theme-fontsize-xs: 12px;
    --wt-theme-fontsize-sm: 14px;
    --wt-theme-fontsize-base: 16px;
    --wt-theme-fontsize-lg: 18px;
    --wt-theme-fontsize-xl: 20px;
    --wt-theme-fontsize-2xl: 24px;
    --wt-theme-fontsize-3xl: 30px;
    --wt-theme-fontsize-4xl: 36px;
    --wt-theme-fontsize-5xl: 48px;
    --wt-theme-fontsize-6xl: 64px;
    --wt-theme-lineheight-xs: 18px;
    --wt-theme-lineheight-sm: 21px;
    --wt-theme-lineheight-base: 24px;
    --wt-theme-lineheight-lg: 27px;
    --wt-theme-lineheight-xl: 30px;
    --wt-theme-lineheight-2xl: 36px;
    --wt-theme-lineheight-3xl: 45px;
    --wt-theme-lineheight-4xl: 54px;
    --wt-theme-lineheight-5xl: 72px;
    --wt-theme-lineheight-6xl: 96px;
    --wt-theme-fontweight-regular: 400;
    --wt-theme-fontweight-medium: 500;
    --wt-theme-fontweight-bold: 500; /* Do NOT use it keep at 500 */
    
    --wt-theme-dialog-radius: 6px;
    --wt-theme-menu-radius: 6px;
    --wt-theme-field-radius: 6px;
    --wt-theme-grid-radius: 8px;
    
    /* ---------- Ext.button.Button */
    --so-button-pressed-nostyle-color: var(--wt-theme-color-n1);
    --so-button-toggle-indicator-color-off: var(--wt-theme-color-n3);
    --so-button-toggle-indicator-color-on: var(--wt-theme-color-1);
    /* ---------- Sonicle.ColorUtils */
    --so-colorswatch-framed-border-color: #9ca3af; /* Gray/400 */
    --so-colorswatch-darkmark-color: #111827; /* Gray/900 */
    --so-colorswatch-lightmark-color: #f9fafb; /* Gray/50 */
    /* ---------- Sonicle.LoadMask */
    --so-mask-button-text-color: var(--wt-theme-color-1);
    /* ---------- Sonicle.panel.CanbanColumn */
    --so-kanbancolumn-border-radius: 8px;
    /* ---------- Sonicle.form.field.Display */
    --so-displayfield-clickable-color: var(--wt-theme-color-1);
    --so-displayfield-clickable-hover-color: #9A3412;
    /* ---------- FullCalendar */
    --fc-page-bg-color: var(--wt-theme-color-surface-l0) !important;
    --fc-border-color: var(--wt-theme-color-surface-l2) !important;
    --fc-neutral-bg-color: var(--wt-theme-color-surface-l0) !important;
    --fc-now-indicator-color: var(--wt-theme-color-1) !important;
    --fc-today-bg-color: rgba(99,102,241,.1) !important; /* Indigo/500 @10% */
    --fc-day-other-color: rgba(55,65,81,.3) !important; /* Gray/700 @30% */
    --fc-non-business-color: rgba(55,65,81,.3) !important; /* Gray/700 @30% */
    --fc-highlight-color: rgba(67,56,202,.3) !important; /* Indigo/700 @30% */
    --fc-event-resizer-swatch-bg-color: #ffffff;
    --fc-event-resizer-swatch-border-color: #111827;
	--fc-event-style-shadow: rgba(0,0,0,.1);
}

body {
    background-color: var(--wt-theme-color-surface-l0, #000000);
    color: var(--wt-theme-color-n1, #FFFFFF);
}

/* ---------- Ext.Shadow */
.x-css-shadow {
    box-shadow: 0px 20px 40px 0px #00000099 !important;
}

/* ---------- Ext.grid.Panel */
.x-column-header {
    border-right: 0px solid #d1d5db !important;
}

/* ---------- Ext.panel.Panel@panel-kanbancolumn */
/* Add shadow on borders */
.x-panel-panel-kanbancolumn {
	-moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06); /* FF3.5+ */
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06); /* Saf3.0+, Chrome */
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06); /* Opera 10.5, IE 9.0 */
}
/* Set BG for grids inside canbancolumn */
.x-panel-panel-kanbancolumn .x-grid .x-grid-body,
.x-panel-panel-kanbancolumn .x-grid .x-grid-item,
.x-panel-panel-kanbancolumn .x-grid-empty {
    background-color: var(--wt-theme-color-surface-l0);
}

/* ---------- Ext.panel.Panel */
/* Force panel's body BG to base when using 'border' layout */
.x-panel-body-default.x-border-layout-ct {
	background-color: var(--wt-theme-color-surface-l1);
}
/* Force splitter BG to its original color, to avoid that the above override set it back to L0  */
.x-splitter {
    background-color: var(--wt-theme-color-surface-l3);
}

/* ---------- Ext.tab.Panel */
/* Add bottom-line to active (selected) and hovered tab */
.x-tab-bar-plain .x-tab:not(.x-tab-active):hover:before {
    border-bottom: 2px solid #374151; /* Gray/700 - Border/Ring/Secondary */
}

/* ---------- Sonicle.form.Image */
/* Set BG like panels body */
.so-form-image .x-form-trigger {
    background-color: var(--wt-theme-color-surface-l1);
}

/* ---------- Sonicle.fullcalendar.Panel */
.so-fullcalendar-panel {
    background-color: var(--wt-theme-color-surface-l1);
}