/* ---------- Icons (service) */
.wtcon-icon-service,
.wtcon-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wtcon-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wtcon-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wtcon-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wtcon-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wtcon-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }
/* ---------- Icons (actions) */
.wtcon-icon-addCategory:before { content: '\f055'; font: var(--fa-font-solid); } .wtcon-icon-addCategory { background-image: none !important; background-size: contain; }
.wtcon-icon-addRemoteCategory:before { content: '\f055'; font: var(--fa-font-solid); } .wtcon-icon-addRemoteCategory { background-image: none !important; background-size: contain; }
.wtcon-icon-viewCategoryLinks:before { content: '\f0c1'; font: var(--fa-font-solid); } .wtcon-icon-viewCategoryLinks { background-image: none !important; background-size: contain; }
.wtcon-icon-editCategory:before { content: '\f044'; font: var(--fa-font-solid); } .wtcon-icon-editCategory { background-image: none !important; background-size: contain; }
.wtcon-icon-deleteCategory:before { content: '\f1f8'; font: var(--fa-font-solid); } .wtcon-icon-deleteCategory { background-image: none !important; background-size: contain; }
.wtcon-icon-newContact:before { content: '\f007'; font: var(--fa-font-solid); } .wtcon-icon-newContact { background-image: none !important }
.wtcon-icon-newContactsList:before { content: '\f022'; font: var(--fa-font-solid); } .wtcon-icon-newContactsList { background-image: none !important }
.wtcon-icon-addContact:before { content: '\f007'; font: var(--fa-font-solid); } .wtcon-icon-addContact { background-image: none !important }
.wtcon-icon-addContactsList:before { content: '\f022'; font: var(--fa-font-solid); } .wtcon-icon-addContactsList { background-image: none !important }
.wtcon-icon-openContact:before { content: '\f044'; font: var(--fa-font-solid); } .wtcon-icon-openContact { background-image: none !important }
.wtcon-icon-copyContact:before { content: '\f24d'; font: var(--fa-font-solid); } .wtcon-icon-copyContact { background-image: none !important }
.wtcon-icon-moveContact:before { content: '\f061'; font: var(--fa-font-solid); } .wtcon-icon-moveContact { background-image: none !important }
.wtcon-icon-importContacts:before { content: '\f0aa'; font: var(--fa-font-solid); } .wtcon-icon-importContacts { background-image: none !important }
.wtcon-icon-exportContacts:before { content: '\f0ab'; font: var(--fa-font-solid); } .wtcon-icon-exportContacts { background-image: none !important }
.wtcon-icon-addContactsListFromSel:before { content: '\f055'; font: var(--fa-font-solid); } .wtcon-icon-addContactsListFromSel { background-image: none !important }
.wtcon-icon-addToContactsListFromSel:before { content: '\f055'; font: var(--fa-font-solid); } .wtcon-icon-addToContactsListFromSel { background-image: none !important }
.wtcon-icon-sendByEmail:before { content: '\f1e0'; font: var(--fa-font-solid); } .wtcon-icon-sendByEmail { background-image: none !important }
.wtcon-icon-writeMessage:before { content: '\f0e0'; font: var(--fa-font-solid); } .wtcon-icon-writeMessage { background-image: none !important }
.wtcon-icon-createEvent:before { content: '\f271'; font: var(--fa-font-solid); } .wtcon-icon-createEvent { background-image: none !important }
.wtcon-icon-uploadContactPicture:before { content: '\f35b'; font: var(--fa-font-solid); }
.wtcon-icon-clearContactPicture:before { content: '\f057'; font: var(--fa-font-solid); }
/* ---------- Icons (others) */
.wtcon-icon-reminder-birthday:before { content: '\f1fd'; font: var(--fa-font-solid); } .wtcon-icon-reminder-birthday { background-image: none !important }
.wtcon-icon-reminder-anniversary:before { content: '\f3a5'; font: var(--fa-font-solid); } .wtcon-icon-reminder-anniversary { background-image: none !important }
.wtcon-icon-category:before { content: '\f187'; font: var(--fa-font-solid); } .wtcon-icon-category { background-image: none !important; background-size: contain; }
.wtcon-icon-categoryMy:before { content: '\f187'; font: var(--fa-font-solid); } .wtcon-icon-categoryMy { background-image: none !important; background-size: contain; }
.wtcon-icon-categoryIncoming:before { content: '\f187'; font: var(--fa-font-solid); } .wtcon-icon-categoryIncoming { background-image: none !important; background-size: contain; }
.wtcon-icon-categoryRemote:before { content: '\f187'; font: var(--fa-font-solid); } .wtcon-icon-categoryRemote { background-image: none !important; background-size: contain; }
.wtcon-icon-contact:before { content: '\f007'; font: var(--fa-font-solid); } .wtcon-icon-contact { background-image: none !important }
.wtcon-icon-contactsList:before { content: '\f022'; font: var(--fa-font-solid); } .wtcon-icon-contactsList { background-image: none !important }
.wtcon-icon-contactName:before { content: '\f0c0'; font: var(--fa-font-solid); } .wtcon-icon-contact-name { background-image: none !important }
.wtcon-icon-contactCompany:before { content: '\f1ad'; font: var(--fa-font-solid); } .wtcon-icon-contact-company { background-image: none !important }
.wtcon-icon-contactEmail:before { content: '\f0e0'; font: var(--fa-font-solid); } .wtcon-icon-contact-email { background-image: none !important }
.wtcon-icon-contactPhone:before { content: '\f095'; font: var(--fa-font-solid); } .wtcon-icon-contact-phone { background-image: none !important }
.wtcon-icon-contactNotes:before { content: '\f036'; font: var(--fa-font-solid); } .wtcon-icon-contact-notes { background-image: none !important }
.wtcon-icon-contactUrl:before { content: '\f0ac'; font: var(--fa-font-solid); } .wtcon-icon-contactUrl { background-image: none !important }
.wtcon-icon-contactPartner:before { content: '\f007'; font: var(--fa-font-solid); } .wtcon-icon-contactPartner { background-image: none !important }
.wtcon-icon-contactBirthday:before { content: '\f1fd'; font: var(--fa-font-solid); } .wtcon-icon-contactBirthday { background-image: none !important }
.wtcon-icon-contactAnniversary:before { content: '\f783'; font: var(--fa-font-solid); } .wtcon-icon-contactAnniversary { background-image: none !important }
.wtcon-icon-contactAddress:before { content: '\f041'; font: var(--fa-font-solid); } .wtcon-icon-contact-address { background-image: none !important }
.wtcon-icon-eventAttachments:before { content: '\f0c0'; font: var(--fa-font-solid); } .wtcon-icon-eventAttachments { background-image: none !important }
.wtcon-icon-mailchimp:before { content: '\f59e'; font: var(--fa-font-brands); } .wtcon-icon-mailchimp { background-image: none !important }
.wtcon-icon-viewHome:before { content: '\f015'; font: var(--fa-font-solid); } .wtcon-icon-viewHome { background-image: none !important }
.wtcon-icon-viewWork:before { content: '\f1ad'; font: var(--fa-font-solid); } .wtcon-icon-viewWork { background-image: none !important }
/* ---------- ToolPanel */
.wtcon-tool-searchpanel-body {
    padding: 16px 16px 18px 16px;
}
.wtcon-tool-tree {
    margin-left: 10px;
}
/* ---------- Grid (contacts) */
.wtcon-gpcontacts .x-grid-group-title {
    font-weight: var(--wt-theme-fontweight-medium);
    font-size: var(--wt-theme-fontsize-sm);
    line-height: var(--wt-theme-lineheight-sm);
    color: var(--wt-theme-color-info-ct-on);
}
/* ---------- onicle.webtop.contacts.ux.grid.column.Contact */
.wtcon-contactcolumn-head {
    font-weight: var(--wt-theme-fontweight-medium);
    font-size: var(--wt-theme-fontsize-sm);
    line-height: var(--wt-theme-lineheight-sm);
    color: #374151; /* Gray/700 */
}
.wtcon-contactcolumn-head > span {
    margin-left: 16px;
    font-weight: var(--wt-theme-fontweight-regular);
    font-size: var(--wt-theme-fontsize-xs);
    color: #4B5563; /* Gray/600 */
}
.wtcon-contactcolumn-body > span {
    font-weight: var(--wt-theme-fontweight-medium);
    font-size: var(--wt-theme-fontsize-xs);
    line-height: var(--wt-theme-lineheight-xs);
    color: #374151; /* Gray/700 */
}
.wtcon-contactcolumn-icon {
    margin-right: 8px;
}
.wtcon-contactcolumn-body span {
    margin-left: 24px;
}
.wtcon-contactcolumn-body span:first-child {
    margin-left: 0px;
}
/* ---------- Sonicle.webtop.contacts.ux.panel.ContactPreview */
.wtcon-preview-header > * > .x-panel-body {
	padding-left: 24px;
	padding-right: 24px;
}
/* no padding for tagfield */
.wtcon-preview-header .x-tagfield.x-form-field {
	padding: 0px !important;
}
.wtcon-preview-header-dn {
    margin-bottom: 0px;
}
.wtcon-preview-header-dn .x-form-display-field {
    font-weight: var(--wt-theme-fontweight-medium);
    font-size: var(--wt-theme-fontsize-xl);
    line-height: var(--wt-theme-lineheight-xl);
    min-height: 0px !important;
}
.wtcon-preview-header-info {
    margin-right: 16px;
}
.wtcon-preview-header-info .x-form-display-field {
    font-weight: var(--wt-theme-fontweight-regular);
    font-size: var(--wt-theme-fontsize-xs);
    line-height: var(--wt-theme-lineheight-xs);
    color: #4B5563; /* Gray/600 */
}
.wtcon-preview-header-category .x-form-display-field {
    font-weight: var(--wt-theme-fontweight-regular);
    font-size: var(--wt-theme-fontsize-xs);
    line-height: var(--wt-theme-lineheight-xs);
    color: #4B5563; /* Gray/600 */
}
.wtcon-preview-tiles {
     margin: 15px 0 15px 0;
}
.wtcon-preview-tilelist {
    margin: 0 5px 0 5px;
}
.wtcon-preview-header-tbactions {
    padding-left: 24px;
}
.wtcon-preview-main > * > .x-panel-body, .wtcon-preview-cfields > * > .x-panel-body {
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
