/* Service Icons */
.wtcal-icon-service,
.wtcal-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wtcal-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wtcal-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wtcal-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wtcal-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wtcal-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }
/* Other Icons */
.wtcal-icon-reminder-event:before { content: '\f133'; font: var(--fa-font-solid); } .wtcal-icon-reminder-event { background-image: none !important; background-size: contain; }
.wtcal-icon-calendar:before { content: '\f133'; font: var(--fa-font-solid); } .wtcal-icon-calendar { background-image: none !important; background-size: contain; }
.wtcal-icon-calendarMy:before { content: '\f133'; font: var(--fa-font-solid); } .wtcal-icon-calendarMy { background-image: none !important; background-size: contain; }
.wtcal-icon-calendarIncoming:before { content: '\f133'; font: var(--fa-font-solid); } .wtcal-icon-calendarIncoming { background-image: none !important; background-size: contain; }
.wtcal-icon-calendarRemote:before { content: '\f133'; font: var(--fa-font-solid); } .wtcal-icon-calendarRemote { background-image: none !important; background-size: contain; }
.wtcal-icon-addCalendar:before { content: '\f055'; font: var(--fa-font-solid); } .wtcal-icon-addCalendar { background-image: none !important; background-size: contain; }
.wtcal-icon-addRemoteCalendar:before { content: '\f055'; font: var(--fa-font-solid); } .wtcal-icon-addRemoteCalendar { background-image: none !important; background-size: contain; }
.wtcal-icon-editCalendar:before { content: '\f044'; font: var(--fa-font-solid); } .wtcal-icon-editCalendar { background-image: none !important; background-size: contain; }
.wtcal-icon-deleteCalendar:before { content: '\f1f8'; font: var(--fa-font-solid); } .wtcal-icon-deleteCalendar { background-image: none !important; background-size: contain; }
.wtcal-icon-event:before { content: '\f783'; font: var(--fa-font-solid); } .wtcal-icon-event { background-image: none !important }
.wtcal-icon-event-single:before { content: '\f783'; font: var(--fa-font-solid); } .wtcal-icon-event-single { background-image: none !important }
.wtcal-icon-event-recurring:before { content: '\f021'; font: var(--fa-font-solid); } .wtcal-icon-event-recurring { background-image: none !important }
.wtcal-icon-event-broken:before { content: '\f127'; font: var(--fa-font-solid); } .wtcal-icon-event-broken { background-image: none !important }
.wtcal-icon-newEvent:before { content: '\f783'; font: var(--fa-font-solid); } .wtcal-icon-newEvent { background-image: none !important }
.wtcal-icon-addEvent:before { content: '\f055'; font: var(--fa-font-solid); } .wtcal-icon-addEvent { background-image: none !important }
.wtcal-icon-openEvent:before { content: '\f044'; font: var(--fa-font-solid); } .wtcal-icon-openEvent { background-image: none !important }
.wtcal-icon-copyEvent:before { content: '\f24d'; font: var(--fa-font-solid); } .wtcal-icon-copyEvent { background-image: none !important }
.wtcal-icon-moveEvent:before { content: '\f061'; font: var(--fa-font-solid); } .wtcal-icon-moveEvent { background-image: none !important }
.wtcal-icon-rejoinSeries:before { content: '\f0e2'; font: var(--fa-font-solid); } .wtcal-icon-rejoinSeries { background-image: none !important }
.wtcal-icon-importEvents:before { content: '\f0aa'; font: var(--fa-font-solid); } .wtcal-icon-importEvents { background-image: none !important }
.wtcal-icon-exportEvents:before { content: '\f0ab'; font: var(--fa-font-solid); } .wtcal-icon-exportEvents { background-image: none !important }
.wtcal-icon-title:before { content: '\f1dc'; font: var(--fa-font-solid); } .wtcal-icon-title { background-image: none !important }
.wtcal-icon-description:before { content: '\f036'; font: var(--fa-font-solid); } .wtcal-icon-description { background-image: none !important }
.wtcal-icon-datetime:before { content: '\f017'; font: var(--fa-font-solid); } .wtcal-icon-datetime { background-image: none !important }
.wtcal-icon-location:before { content: '\f3c5'; font: var(--fa-font-solid); } .wtcal-icon-location { background-image: none !important }
.wtcal-icon-meeting:before { content: '\f03d'; font: var(--fa-font-solid); } .wtcal-icon-meeting { background-image: none !important }
.wtcal-icon-attendees:before { content: '\f0c0'; font: var(--fa-font-solid); } .wtcal-icon-attendees { background-image: none !important }
.wtcal-icon-reminder:before { content: '\f0f3'; font: var(--fa-font-solid); } .wtcal-icon-reminder { background-image: none !important }
.wtcal-icon-showDescription:before { content: '\f036'; font: var(--fa-font-solid); } .wtcal-icon-showDescription { background-image: none !important }
.wtcal-icon-addResource:before { content: '\f54f'; font-family: var(--fa-style-family-classic); } .wtcal-icon-addResource { background-image: none !important }
.wtcal-icon-importAttendees:before { content: '\f055'; font: var(--fa-font-solid); } .wtcal-icon-importAttendees { background-image: none !important }
.wtcal-icon-importAttendeesPaste:before { content: '\f0ea'; font: var(--fa-font-solid); } .wtcal-icon-importAttendeesPaste { background-image: none !important }
.wtcal-icon-importAttendeesList:before { content: '\f055'; font: var(--fa-font-solid); } .wtcal-icon-importAttendeesList { background-image: none !important }
.wtcal-icon-addMeeting:before { content: '\f03d'; font: var(--fa-font-solid); } .wtcal-icon-addMeeting { background-image: none !important }
.wtcal-icon-attendeeRole-REQ { background-repeat: no-repeat; }
.wtcal-icon-attendeeRole-OPT { background-repeat: no-repeat; }
.wtcal-icon-attendeeRole-CHA { background-repeat: no-repeat; }

/* ---------- Attendees checked icon */
.wtcal-attendees-notify-checkcolumn:after {
    content: '\e4e8';
    font-family: var(--fa-style-family-classic);
}
.wtcal-attendees-notify-checkcolumn.x-grid-checkcolumn-checked:after {
    content: '\e4e8';
    color: #C2410C;
}

/* ---------- Portlet Grid */
/* Override padding */
.wtcal-portlet-grid .x-grid-item {
    border-color: transparent;
}
.wtcal-portlet-grid .x-grid-cell-first .x-grid-cell-inner {
    padding-left: 16px;
}
.wtcal-portlet-grid .x-grid-rowbody {
    padding-left: 16px;
    padding-right: 16px;
}
/* ---------- Portlet EventsBody */
/* Override default style */
.wtcal-portlet-event-body .x-grid-rowbody {
    gap: 8px;
}
.wtcal-portlet-event-body-atdate {
	color: #4B5563; /* Gray/600 */
}
.wtcal-portlet-event-body-attime {
	padding: 2px 10px;
	border-radius: 10px;
	background: #F3F4F6; /* Gray/100 */
}
.wtcal-portlet-event-body-location {
    color: unset;
}
/* ---------- ToolPanel related */
.wtcal-tool-searchpanel-body {
    padding: 24px 16px 18px 16px;
}
.wtcal-tool-tree {
    margin-left: 10px;
}
.wtcal-tool-calendarpanel {
    margin-top: 6px;
}
/* ---------- FullCalendar Panel tooltip */
.so-cal-appo-hov {
    gap: 16px;
	font-size: var(--wt-theme-fontsize-sm);
    font-weight: var(--wt-theme-fontweight-regular);
}
.so-cal-appo-hov-group {
    gap: 8px;
}
.so-cal-appo-hov-title {
	font-size: var(--wt-theme-fontsize-lg);
    font-weight: var(--wt-theme-fontweight-medium);
}
.so-cal-appo-hov-when {
	font-size: var(--wt-theme-fontsize-xs);
}
.so-cal-appo-hov-calendar > i,
.so-cal-appo-hov-where > i,
.so-cal-appo-hov-organizer > i {
    margin-right: 8px;
}

/* ---------- EventView */
.wtcal-event-info .x-form-display-field {
	padding-left: 45px;
}