/* Service Icons */
.wtcal-icon-service,
.wtcal-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wtcal-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wtcal-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wtcal-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wtcal-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wtcal-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }