/* Service Icons */
.wttasks-icon-service,
.wttasks-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wttasks-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wttasks-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wttasks-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wttasks-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wttasks-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }

.wttasks-icon-newTask:before { content: '\f46d'; font: var(--fa-font-solid); } .wttasks-icon-newTask { background-image: none !important }
.wttasks-icon-task:before { content: '\f46d'; font: var(--fa-font-solid); } .wttasks-icon-task { background-image: none !important }

/* Portlet TasksBody: override default style */
.wttasks-portlet-task-body-dueon {
	color: #4B5563; /* Gray/600 */
}