@import url("xtheme-nethesis-override.css");

/*
color-surface-primary -> Gray/50
color-surface-secondary -> White
color-primary-0 -> Orange/700
color-primary-1 -> Gray/50
color-ct-primary-0 -> Orange/100
color-ct-primary-1 -> Gray/900
color-secondary-0 -> Gray/300
color-error-0 -> Red/700
color-error-1 -> Gray/50
color-ct-error-0 -> Red/50
color-ct-error-1 -> Red/800
color-warn-0 -> Yellow/700
color-warn-1 -> White
color-ct-warn-0 -> Yellow/50
color-ct-warn-1 -> Yellow/700
color-ok-0 -> Green/700
color-ok-1 -> White
color-ct-ok-0 -> Green/50
color-ct-ok-1 -> Green/700
*/

:root {
    --wt-theme-color-surface-1: #f9fafb; /* Gray/50 */
    --wt-theme-color-surface-2: #ffffff; /* White */
    --wt-theme-color-1: #c2410c; /* Orange/700 */
    --wt-theme-color-1-contrast: #f9fafb; /* Gray/50 */
    --wt-theme-color-ct-1: #ffedd5; /* Orange/100 */
    --wt-theme-color-ct-1-contrast: #111827; /* Gray/900 */
    --wt-theme-color-ct-2: #d1d5db; /* Gray/300 */
    --wt-theme-color-ok-1: #15803d; /* Green/700 */
    --wt-theme-color-ok-1-contrast: #ffffff; /* White */
    --wt-theme-color-ok-2: #f0fdf4; /* Green/50 */
    --wt-theme-color-ok-2-contrast: #15803d; /* Green/700 */
    --wt-theme-color-warn-1: #a16207; /* Yellow/700 */
    --wt-theme-color-warn-1-contrast: #ffffff; /* White */
    --wt-theme-color-warn-2: #fefce8; /* Yellow/50 */
    --wt-theme-color-warn-2-contrast: #ffffff; /* White */
    --wt-theme-color-error-1: #b91c1c; /* Red/700 */
    --wt-theme-color-error-1-contrast: #fef2f2; /* Gray/50 */
    --wt-theme-color-error-2: #fef2f2; /* Red/50 */
    --wt-theme-color-error-2-contrast: #991b1b; /* Red/800 */
}

.wt-viewport-navbar-logo {
	background-image: url('logo.png')
}

/* navbar: background */
.wt-viewport-navbar { background-color: var(--wt-theme-color-surface-2); }
.wt-viewport-navbar-watermark-right { background-color: #E5E7EB; width: 1px; }
/* navbar: tweak main L/R padding */
.wt-viewport-navbar.x-toolbar-vertical { padding-left: 12px; padding-right: 12px; }
/* navbar: tweak button internal padding */
.wt-viewport-navbar .x-btn-button { padding: 6px; }
/* navbar: add colored right watermark on pressed button */
.wt-viewport-navbar .x-btn.x-btn-pressed::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 4px;
    height: 36px;
    border-radius: 0px 6px 6px 0px;
    background: var(--primary-light-700, #C2410C);
    content: '';
}
/* navbar: define 50x50 logo image */
.wt-viewport-navbar-logo { background-image: url('logo.png') }
.so-tbimage-medium .wt-viewport-navbar-logo { width: 44px !important; height: 44px !important; }
/* tool-hd: apply background */
.wt-tool-hd-wrap { background-color: var(--wt-theme-color-surface-1); }
.wt-tool-hd { background-color: var(--wt-theme-color-surface-1); }

/* Service Icons */
.wt-icon-service,
.wt-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wt-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wt-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wt-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wt-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wt-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }
.wt-icon-portal,
.wt-icon-portal-sm { background-image: url('portal.svg') !important; background-size: contain; }
.wt-icon-portal-off-sm { background-image: url('portal-off.svg') !important; background-size: contain; }
.wt-icon-portal-md { background-image: url('portal.svg') !important; background-size: contain; }
.wt-icon-portal-off-md { background-image: url('portal-off.svg') !important; background-size: contain; }
.wt-icon-portal-lg { background-image: url('portal.svg') !important; background-size: contain; }
.wt-icon-portal-off-lg { background-image: url('portal-off.svg') !important; background-size: contain; }

.wt-icon-meeting:before { content: '\f03d'} .wt-icon-meeting { background-image: none !important }
.wt-icon-im-status-online:before { content: '\f27a'} .wt-icon-im-status-online { background-image: none !important }
.wt-icon-notification:before { content: '\f0f3'} .wt-icon-notification { background-image: none !important }
.wt-icon-print:before { content: '\f02f'} .wt-icon-print { background-image: none !important }
.wt-icon-viewOptions:before { content: '\f0b0'} .wt-icon-viewOptions { background-image: none !important }