.wt-viewport-navbar-logo {
	background-image: url('logo.png')
}

.wt-viewport-navbar-watermark-left { 
	background-color: #f1850e; width: 3px;
}

.wt-viewport-navbar-watermark-right { 
	background-color: #cfcfcf; width: 1px;
}

.wt-viewport-navbar { 
	background-color: #ffffff; 
	border-right: 1px solid black;
}
/* Convert following to dedicated toolbar layout */
.wt-viewport-navbar .x-btn-pressed {
    background-color: #e5e7eb !important;
    border-color: transparent !important;
}
.wt-viewport-navbar .x-btn-over {
    background-color: #f3f4f6 !important;
    border-color: transparent !important;
}
.wt-viewport-navbar .x-btn-icon-el-default-toolbar-large {
    width: 16px !important;
}
.wt-viewport-navbar .x-btn-button {
    padding: 8px;
}

.wt-tool-toolbar-container {
	background-color: #f3f4f6 !important; 
}

/****************************************/

/* Service Icons */
.wt-icon-service,
.wt-icon-service-sm { background-image: url('service.svg') !important; background-size: contain; }
.wt-icon-service-off-sm { background-image: url('service-off.svg') !important; background-size: contain; }
.wt-icon-service-md { background-image: url('service.svg') !important; background-size: contain; }
.wt-icon-service-off-md { background-image: url('service-off.svg') !important; background-size: contain; }
.wt-icon-service-lg { background-image: url('service.svg') !important; background-size: contain; }
.wt-icon-service-off-lg { background-image: url('service-off.svg') !important; background-size: contain; }
.wt-icon-portal,
.wt-icon-portal-sm { background-image: url('portal.svg') !important; background-size: contain; }
.wt-icon-portal-off-sm { background-image: url('portal-off.svg') !important; background-size: contain; }
.wt-icon-portal-md { background-image: url('portal.svg') !important; background-size: contain; }
.wt-icon-portal-off-md { background-image: url('portal-off.svg') !important; background-size: contain; }
.wt-icon-portal-lg { background-image: url('portal.svg') !important; background-size: contain; }
.wt-icon-portal-off-lg { background-image: url('portal-off.svg') !important; background-size: contain; }


.x-grid-item-selected {
    background-color: #e5e7eb !important;
}

.x-tree-arrows .x-tree-expander {
	filter: brightness(0%);
}