/**************************************/
/* Tweaks WebTop's components for specific theme
/**************************************/

/*
color-surface-primary -> Gray/50
color-surface-secondary -> White
color-primary-0 -> Orange/700
color-primary-1 -> Gray/50
color-ct-primary-0 -> Orange/100
color-ct-primary-1 -> Gray/900
color-secondary-0 -> Gray/300
color-error-0 -> Red/700
color-error-1 -> Gray/50
color-ct-error-0 -> Red/50
color-ct-error-1 -> Red/800
color-warn-0 -> Yellow/700
color-warn-1 -> White
color-ct-warn-0 -> Yellow/50
color-ct-warn-1 -> Yellow/700
color-ok-0 -> Green/700
color-ok-1 -> White
color-ct-ok-0 -> Green/50
color-ct-ok-1 -> Green/700
*/

:root {
    --wt-theme-color-surface-1: #f9fafb; /* Gray/50 */
    --wt-theme-color-surface-2: #ffffff; /* White */
    --wt-theme-color-1: #c2410c; /* Orange/700 */
    --wt-theme-color-1-contrast: #f9fafb; /* Gray/50 */
    --wt-theme-color-ct-1: #ffedd5; /* Orange/100 */
    --wt-theme-color-ct-1-contrast: #111827; /* Gray/900 */
    --wt-theme-color-ct-2: #d1d5db; /* Gray/300 */
    --wt-theme-color-ok-1: #15803d; /* Green/700 */
    --wt-theme-color-ok-1-contrast: #ffffff; /* White */
    --wt-theme-color-ok-2: #f0fdf4; /* Green/50 */
    --wt-theme-color-ok-2-contrast: #15803d; /* Green/700 */
    --wt-theme-color-warn-1: #a16207; /* Yellow/700 */
    --wt-theme-color-warn-1-contrast: #ffffff; /* White */
    --wt-theme-color-warn-2: #fefce8; /* Yellow/50 */
    --wt-theme-color-warn-2-contrast: #ffffff; /* White */
    --wt-theme-color-error-1: #b91c1c; /* Red/700 */
    --wt-theme-color-error-1-contrast: #fef2f2; /* Gray/50 */
    --wt-theme-color-error-2: #fef2f2; /* Red/50 */
    --wt-theme-color-error-2-contrast: #991b1b; /* Red/800 */
    --wt-theme-color-topbar: #ffffff; /* White */
    --wt-theme-color-navbar: #ffffff; /* White */
    --wt-theme-color-taskbar: #F3F4F6; /* Gray/100 */
    --wt-theme-color-dialog: #ffffff; /* White */
    --wt-theme-color-scrollbar: #D1D5DB; /* Gray/300 */
    
    --wt-theme-fontsize-xs: 0.75rem;
    --wt-theme-fontsize-sm: 0.875rem;
    --wt-theme-fontsize-base: 1rem;
    --wt-theme-fontsize-lg: 1.125rem;
    --wt-theme-fontsize-xl: 1.25rem;
    --wt-theme-lineheight-xs: 1rem;
    --wt-theme-lineheight-sm: 1.25rem;
    --wt-theme-lineheight-base: 1.5rem;
    --wt-theme-lineheight-lg: 1.75rem;
    --wt-theme-lineheight-xl: 1.75rem;
    --wt-theme-fontweight-base: 400;
    --wt-theme-fontweight-bold: 500;
}

/* Navbar: background */
.wt-viewport-navbar-watermark-right {
    background-color: #e5e7eb; /* Gray/200 */
    width: 1px;
}
/* Navbar: tweak main L/R padding */
.wt-viewport-navbar.x-toolbar-vertical { padding-left: 15px; padding-right: 15px; }
/* Navbar: tweak button internal padding to make button square */
.wt-viewport-navbar .x-btn.x-toolbar-item { padding: 12px; }
/* Navbar: hide the focus outline/shadow */
.wt-viewport-navbar .x-btn.x-btn-focus { box-shadow: none !important; }

/* Navbar: set specific color to nav buttons */
.wt-viewport-navbar .x-btn.x-btn-pressed, .wt-viewport-navbar .x-btn.x-btn-over {
    background-color: #f3f4f6; /* Gray/100 */
}
/* Navbar: add colored right watermark on pressed button */
.wt-viewport-navbar .x-btn.x-btn-pressed::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 4px;
    height: 36px;
    border-radius: 0px 6px 6px 0px;
    background: var(--primary-light-700, #C2410C);
    content: '';
}
/* Navbar: define 50x50 logo image */
.wt-viewport-navbar-logo.so-tbimage { padding: 0px; }
.wt-viewport-navbar-logo.so-tbimage .so-tbimage-image { background-image: url('logo.png'); background-repeat: round; width: 50px !important; height: 50px !important; }

/* Taskbar: set no-radius for buttons */
.wt-viewport-taskbar .x-btn {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* MoreLinksButton: customize BoundList's iconSize */
.wt-morelinksbutton-list .x-boundlist-item {
    line-height: 62px;
}
.wt-morelinksbutton-list .so-boundlist-icon {
    width: 50px;
    height: 50px;
}
.wt-morelinksbutton-list .so-boundlist-display {
    padding-left: 54px;
}

/* ToolHD: apply background */
.wt-tool-hd-wrap { background-color: var(--wt-theme-color-surface-1); }
.wt-tool-hd { background-color: var(--wt-theme-color-surface-1); }
.wt-tool-hd-title { font-size: var(--wt-theme-fontsize-xl); }
.wt-tool-hd-separator { border-top-color: #e5e7eb !important; } /* Gray/200 FIXME: evaluate to change directly fieldset color in theme */

/* AccountMenu: pad user-info */
.wt-accountmenu-label1 { padding-top: 12px; }
.wt-accountmenu-label2 { padding-bottom: 12px; }

/* Menu: set separator color */
.x-menu-item-separator {
    border-top-color: #e5e7eb !important; /* Gray/200 */
}

/* ContextMenu: highlight owner */
.x-grid-view .so-contextmenu-owner,
.x-tree-view .so-contextmenu-owner {
    background-color: #d1d5db !important; /* Gray/300 */
}

/* KanbanColumn: change collapse/expand icons and header color */
.x-panel.so-kanban-column .x-tool-expand-bottom:before {
    content: '\f424'
}
.x-panel.so-kanban-column .x-tool-collapse-top:before {
    content: '\f422'
}
.x-panel.so-kanban-column .x-panel-header {
    background-color: #ffffff;
}