/**************************************/
/* Fixes/Tweaks for specific original theme
/* (should not include theme dependent styles, colors, ecc)
/**************************************/

/* Font: import full Poppins family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

/* BoundList: avoid borders */
.x-boundlist {
    border-style: none;
}

/* TriggerFields: triggers do NOT have rounded corners by default, so the hides radius on fields */
.x-form-trigger { border-radius: 6px; }

/* WindowsPanels/PopupPanels: body do NOT have rounded corners by default, so the hides radius on bundary */
.x-window-body { border-radius: 6px; }

/* Menu item: fix FontAwesome icons vertical position */
.x-menu-item-icon.fas { top: 8px; }
.x-menu-item-icon.far { top: 8px; }

/* Buttons: add default icon family to FA free */
.x-btn-icon-el:empty { font-family: var(--fa-style-family-classic); }

/* SplitButtons: force icon color */
.x-btn-wrap-button-secondary-small.x-btn-split:after,
.x-btn-wrap-button-tertiary-small.x-btn-split:after { color: var(--wt-theme-color-1); }
.x-btn-wrap-button-secondary-medium.x-btn-split:after,
.x-btn-wrap-button-tertiary-medium.x-btn-split:after { color: var(--wt-theme-color-1); }
.x-btn-wrap-button-secondary-large.x-btn-split:after,
.x-btn-wrap-button-tertiary-large.x-btn-split:after { color: var(--wt-theme-color-1); }

/* SplitButtons: fix separator color and height (default was a top-bottom line) */
.x-btn-wrap-default-small.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-default-medium.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-default-large.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
    border-color: var(--wt-theme-color-1-contrast);
}
.x-btn-wrap-button-secondary-small.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-secondary-medium.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-secondary-large.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
    border-color: var(--wt-theme-color-1);
}
.x-btn-wrap-button-tertiary-small.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-tertiary-medium.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-tertiary-large.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
    border-color: var(--wt-theme-color-1);
}

/*
colore hover tree/grid gray/200
blink context menu su gray/300
avatar button icona split troppo grande
bottone secondario 
*/